<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="info-cuadro">
        <p>SEGUNDO PARCIAL TEM-742</p>
        <p>NOMBRE: Rosa maria mamani choque</p>
        <p>CARNET: 9934555</p>
    </div>

    <h1>LISTA DE PRODUCTOS</h1>
    <a href="{{ url_for('nuevo') }}">Nuevo Producto</a>
    <br><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Categoría</th>
            <th>Fecha de Vencimiento</th>
            
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.fecha_vencimiento }}</td>
            <td>
                <a href="{{ url_for('editar', id=producto.id) }}">
                    <button type="button">Editar</button>
                </a>
                <td>
                    <form action="{{ url_for('eliminar', id=producto.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Eliminar</button>  
                </td>
                
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>